/*========IMPORT========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.about-cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.about-cards-card {
  border: 2px #d2d2d2 solid;
  border-radius: 5px;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 10;
}

.about-cards-card-title {
  border-bottom: 2px #d2d2d2 solid;
  padding: 1rem;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.about-cards-card-container {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.about-cards-card-container-paragraph {
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}

.about-cards-card-title.select {
  color: #00ff99;
}

.about-cards-card-container.show {
  opacity: 1;
}

.modal {
  background-color: #5e5e5e;
  padding: 5rem;
  border-radius: 10px;
  min-width: 80%;
  margin: 0 auto;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.modal-logo {
  margin-bottom: 2em;
}

.modal-logo img {
  width: 5rem;
}

.modal-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 2em;
  color: #f2f2f2;
}

.modal-button {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #00ff99;
  padding: 0.3em;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
}

/* modal style inside index.html */
.modal-background {
  position: absolute;
  inset: 0;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 99;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.modal-contact {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-hide {
  opacity: 0;
  z-index: -1;
}

.swiper-button-prev,
.swiper-button-next {
  color: #333;
  font-weight: 900;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination {
  bottom: -20px !important;
}

.swiper-pagination-bullet-active {
  background-color: #333;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.body-success {
  background-color: #d2d2d2;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

/* !!!NAVBAR!!! */
nav {
  background-color: #5e5e5e;
}

nav .navbar {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em 2em;
}

nav .navbar-logo img {
  width: 50px;
}

nav .navbar-title {
  margin-left: auto;
  color: #00ff99;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
}

nav .navbar-list {
  display: none;
}

nav .navbar-list li a {
  font-size: 1.6rem;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
}

nav .navbar-list li a span {
  color: #00ff99;
}

nav .navbar-responsive {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 20;
  padding: 1em 2em;
}

nav .navbar-responsive li + li {
  margin-left: auto;
}

nav .navbar-responsive li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
}

nav .navbar-responsive li a i {
  font-size: 2rem;
}

nav .navbar-responsive li .span-icon {
  color: #00ff99;
}

@media (min-width: 1000px) {
  nav .navbar-responsive {
    display: none;
  }
}

/* !!!HERO!!! */
header {
  background-color: #5e5e5e;
}

header .hero {
  padding: 3em 2em;
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  height: 90vh;
}

header .hero .hero-title {
  text-align: center;
}

header .hero .hero-title h1 {
  font-size: 3rem;
  line-height: 87px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .hero .hero-title p {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-bottom: 6em;
}

header .hero .hero-title p i {
  color: #00ff99;
}

header .hero .hero-title .svg {
  border: 5px #00ff99 solid;
  width: 35px;
  height: 60px;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

header .hero .hero-title .svg .square-1 {
  width: 5px;
  height: 5px;
  background-color: #f2f2f2;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

header .hero .hero-title .svg .square-2 {
  width: 5px;
  height: 5px;
  background-color: #f2f2f2;
  position: absolute;
  top: 37%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

header .hero .hero-title .svg .arrow {
  border: solid #f2f2f2;
  border-width: 0 5px 5px 0;
  padding: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0%;
  left: 20%;
  opacity: 0;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

header .hero .hero-title .svg .svg-square-animation {
  opacity: 1;
}

header .hero .hero-title .svg .svg-arrow-animation {
  top: 50%;
  opacity: 1;
}

header .hero .hero-social {
  display: none;
}

/* !!!SECTION WORKS!!! */
.works {
  background-color: #d2d2d2;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-align: center;
  padding: 4em 2em;
}

.works h3.title {
  font-size: 6rem;
  font-weight: 700;
  color: #333;
  font-family: "Montserrat", sans-serif;
  isolation: isolate;
}

.works h3.title::before {
  content: "Works";
  -webkit-transform: scale(3);
          transform: scale(3);
  font-weight: 700;
  font-size: 5rem;
  position: absolute;
  color: rgba(46, 46, 46, 0.02);
  padding-bottom: 8rem;
  z-index: -1;
}

.works-slide-container .slide {
  margin-top: 3em;
  width: 100%;
}

.works-slide-container .slide img {
  width: 80%;
  margin-block: 1em;
}

.works-slide-container .slide-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  letter-spacing: .3rem;
}

.works-slide-container .slide-btn {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #333;
  letter-spacing: .3rem;
  background-color: #00ff99;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: .3em 1em;
  border-radius: 50px;
}

/* !!!SECTION ABOUT!!! */
.about {
  background-color: #5e5e5e;
  color: #f2f2f2;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 4em 2em;
}

.about h3.title {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  isolation: isolate;
}

.about h3.title::before {
  content: "About";
  -webkit-transform: scale(3);
          transform: scale(3);
  font-weight: 700;
  font-size: 5rem;
  position: absolute;
  color: rgba(242, 242, 242, 0.02);
  padding-bottom: 8rem;
  z-index: -1;
}

.about .about-content {
  margin-top: 40px;
  position: relative;
}

.about .about-content .left p {
  font-size: 1.6rem;
}

.about .about-content .right {
  display: none;
}

/* !!!SECTION CONTACT!!! */
.contact {
  background-color: #d2d2d2;
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 4em 2em;
}

.contact h3.title {
  font-size: 6rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  isolation: isolate;
}

.contact h3.title::before {
  content: "Contact";
  -webkit-transform: scale(3);
          transform: scale(3);
  font-weight: 700;
  font-size: 5rem;
  position: absolute;
  color: rgba(46, 46, 46, 0.02);
  padding-bottom: 8rem;
  z-index: -1;
}

.contact .contact-form {
  width: 100%;
  position: relative;
}

.contact .contact-form input,
.contact .contact-form textarea,
.contact .contact-form button {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #5e5e5e;
  color: #f2f2f2;
  border: none;
  margin-bottom: 3rem;
}

.contact .contact-form input,
.contact .contact-form textarea {
  padding: 2rem;
}

.contact .contact-form textarea {
  resize: vertical;
}

.contact .contact-form .recaptcha {
  margin-bottom: 3rem;
}

.contact .contact-form button {
  background-color: #00ff99;
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  height: 5rem;
  border-radius: 4rem;
  cursor: pointer;
}

/* !!!FOOTER!!! */
footer {
  padding: 4em 2em 7em 2em;
  background-color: #5e5e5e;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
}

footer .footer-links ul {
  margin-top: 4.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  place-content: space-evenly;
  row-gap: 15px;
}

footer .footer-links ul a {
  color: #f2f2f2;
  font-size: 1.6rem;
}

footer .copy {
  font-size: 1rem;
  margin-top: 3.5rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */