/*========IMPORT========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.about-cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.about-cards-card {
  border: 2px #d2d2d2 solid;
  border-radius: 5px;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 10;
  cursor: pointer;
  background-color: #424242;
}

.about-cards-card-title {
  border-bottom: 2px #d2d2d2 solid;
  padding: 1rem;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.about-cards-card-container {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.about-cards-card-container-paragraph {
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}

.about-cards-card-title.select {
  color: #00ff99;
}

.about-cards-card-container.show {
  opacity: 1;
}

.modal {
  background-color: #424242;
  padding: 5rem;
  border-radius: 10px;
  width: 350px;
  margin: 0 auto;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.modal-logo {
  margin-bottom: 2em;
}

.modal-logo img {
  width: 5rem;
}

.modal-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 2em;
  color: #f2f2f2;
}

.modal-button {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #00ff99;
  padding: 0.3em;
  border-radius: 5px;
  color: #333333;
  cursor: pointer;
}

/* modal style inside index.html */
.modal-background {
  position: absolute;
  inset: 0;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 99;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.modal-contact {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-hide {
  opacity: 0;
  z-index: -1;
}

.swiper-button-prev,
.swiper-button-next {
  color: #333333;
  font-weight: 900;
  z-index: 15;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination {
  bottom: -30px !important;
}

@media (min-width: 767px) {
  .swiper-pagination {
    bottom: 10px !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: #333333;
}

@media (min-width: 767px) {
  .swiper {
    display: none;
  }
}

.swiper-desktop {
  display: none;
}

@media (min-width: 767px) {
  .swiper-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .swiper-desktop .swiper-pagination {
    bottom: -30px !important;
  }
}

.top-arrow {
  display: none;
}

@media (min-width: 900px) {
  .top-arrow {
    display: block;
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 300ms ease, opacity 300ms ease;
    transition: visibility 300ms ease, opacity 300ms ease;
  }
  .top-arrow .outer {
    height: 50px;
    width: 50px;
    background-color: #00ff99;
    border-radius: 100%;
    cursor: pointer;
    display: -ms-grid;
    display: grid;
    place-content: center;
    position: relative;
  }
  .top-arrow .outer-text {
    position: absolute;
    left: -8px;
    top: 0px;
    opacity: 0;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-transition: top 300ms ease-in, opacity 300ms ease-in;
    transition: top 300ms ease-in, opacity 300ms ease-in;
  }
  .top-arrow .outer .inner i {
    font-size: 2rem;
    color: #333333;
  }
  .top-arrow .outer:hover .outer-text {
    top: -25px;
    opacity: 1;
  }
}

.top-arrow-show {
  opacity: 1;
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.body-success {
  background-color: #d2d2d2;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.see-more {
  padding: 2em 2em;
}

@media (min-width: 767px) {
  .see-more {
    padding: 2em 4em;
  }
}

@media (min-width: 1367px) {
  .see-more {
    padding: 2em 0em;
  }
}

.see-more h1.title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.see-more h3.title {
  font-size: 2rem;
  font-weight: 700;
  color: #333333;
  font-family: "Montserrat", sans-serif;
}

.see-more .paragraph {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 1em;
}

.see-more .paragraph:last-child {
  margin-bottom: 0;
}

.see-more img {
  width: 40px;
  margin-top: 5px;
}

.see-more img + img {
  margin-left: 10px;
}

.see-more .square {
  height: 40px;
  width: 40px;
  margin-top: 5px;
}

.see-more .square + .square {
  margin-left: 10px;
}

.see-more .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.see-more a {
  color: #333333;
  text-decoration: none;
}

/* !!!NAVBAR!!! */
nav {
  background-color: #424242;
}

nav .navbar {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em 2em;
}

@media (min-width: 767px) {
  nav .navbar {
    padding: 1em 4em;
  }
}

@media (min-width: 1367px) {
  nav .navbar {
    padding: 1em 0em;
  }
}

nav .navbar-logo img {
  width: 50px;
}

nav .navbar-list {
  display: none;
}

@media (min-width: 900px) {
  nav .navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  nav .navbar-list li a {
    position: relative;
    font-size: 2rem;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    color: #f2f2f2;
    font-family: "Poppins", sans-serif;
    margin-left: 3em;
    -webkit-transition: color 200ms ease-in;
    transition: color 200ms ease-in;
    text-transform: uppercase;
    isolation: isolate;
  }
  nav .navbar-list li a::after {
    content: "";
    width: 20px;
    height: 5px;
    border-radius: 2px;
    background-color: #00ff99;
    position: absolute;
    bottom: -5px;
    left: 0;
    -webkit-transition: width 700ms ease;
    transition: width 700ms ease;
    z-index: -1;
  }
  nav .navbar-list li a:hover::after {
    width: 100%;
  }
}

nav .navbar-responsive {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 20;
  padding: 1em 2em;
}

@media (min-width: 767px) {
  nav .navbar-responsive {
    padding: 1em 4em;
  }
}

nav .navbar-responsive li + li {
  margin-left: auto;
}

nav .navbar-responsive li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
}

nav .navbar-responsive li a i {
  font-size: 2rem;
}

nav .navbar-responsive li .span-icon {
  color: #00ff99;
}

@media (min-width: 900px) {
  nav .navbar-responsive {
    display: none;
  }
}

/* !!!HERO!!! */
header {
  background-color: #424242;
}

header .hero {
  padding: 3em 2em;
  color: #f2f2f2;
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 60vh;
}

@media (min-width: 767px) {
  header .hero {
    padding: 3em 4em;
  }
}

@media (min-width: 900px) {
  header .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15em 4em 3em;
  }
}

@media (min-width: 1367px) {
  header .hero {
    padding: 15em 0em 3em;
  }
}

header .hero .hero-title {
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

@media (min-width: 900px) {
  header .hero .hero-title {
    text-align: left;
  }
}

header .hero .hero-title h1 {
  font-size: 3rem;
  line-height: 57px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 767px) {
  header .hero .hero-title h1 {
    font-size: 5rem;
    line-height: 67px;
    letter-spacing: 0.3rem;
  }
}

@media (min-width: 900px) {
  header .hero .hero-title h1 {
    font-size: 7rem;
    line-height: 87px;
    letter-spacing: 0.3rem;
  }
}

header .hero .hero-title p {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 2em;
  color: #d2d2d2;
}

@media (min-width: 767px) {
  header .hero .hero-title p {
    font-size: 2.5rem;
  }
}

header .hero .hero-title p i {
  color: #00ff99;
}

header .hero .hero-social {
  display: none;
}

@media (min-width: 900px) {
  header .hero .hero-social {
    display: -ms-grid;
    display: grid;
    margin-left: auto;
  }
  header .hero .hero-social li {
    margin-top: 2.5em;
  }
  header .hero .hero-social li a {
    font-size: 4rem;
    color: #f2f2f2;
    -webkit-transition: color 200ms ease-in;
    transition: color 200ms ease-in;
    position: relative;
  }
  header .hero .hero-social li a:hover {
    color: #00ff99;
  }
  header .hero .hero-social li a p {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    color: #f2f2f2;
    -webkit-transition: visibility 200ms ease-in, opacity 200ms ease-in, left 200ms ease-in;
    transition: visibility 200ms ease-in, opacity 200ms ease-in, left 200ms ease-in;
  }
}

header .svg-container {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  header .svg-container {
    padding: 3em 4em;
  }
}

@media (min-width: 1367px) {
  header .svg-container {
    padding: 3em 0em;
  }
}

header .svg-container .svg-text {
  color: #d2d2d2;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  margin-right: 1em;
}

@media (min-width: 767px) {
  header .svg-container .svg-text {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  header .svg-container .svg-text {
    font-size: 3rem;
  }
}

header .svg-container .svg-box .svg {
  border: 5px #00ff99 solid;
  width: 35px;
  height: 60px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .svg-container .svg-box .svg .square {
  width: 5px;
  height: 5px;
  background-color: #f2f2f2;
  margin: 0 auto;
}

header .svg-container .svg-box .svg .square:first-child {
  margin-top: 7px;
}

header .svg-container .svg-box .svg .arrow i {
  color: #f2f2f2;
  font-size: 2rem;
  margin-top: -5px;
}

/* !!!SECTION WORKS!!! */
.works {
  background-color: #d2d2d2;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-align: center;
  padding: 4em 2em 8em;
}

@media (min-width: 767px) {
  .works {
    padding: 4em 4em 8em;
  }
}

@media (min-width: 900px) {
  .works {
    padding: 10em 4em 16em;
  }
}

@media (min-width: 1500px) {
  .works .container::before, .works .container::after {
    content: "";
    background-color: #d2d2d2;
    width: calc((100vw - 1366px) / 2);
    position: absolute;
    inset: 0;
    z-index: 10;
  }
  .works .container::after {
    margin-left: auto;
  }
}

.works h3.title {
  font-size: 6rem;
  font-weight: 700;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  isolation: isolate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

@media (min-width: 767px) {
  .works h3.title {
    font-size: 8rem;
    margin-bottom: 2em;
  }
}

.works h3.title::before {
  content: "Works";
  -webkit-transform: scale(3);
          transform: scale(3);
  font-weight: 700;
  font-size: 5rem;
  position: absolute;
  color: rgba(46, 46, 46, 0.05);
  padding-top: 4rem;
  z-index: -1;
}

@media (min-width: 767px) {
  .works h3.title::before {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

.works-slide-container .slide {
  margin-top: 3em;
  width: 100%;
}

.works-slide-container .slide img {
  width: 80%;
  margin-block: 1em;
}

@media (min-width: 400px) {
  .works-slide-container .slide img {
    width: 60%;
  }
}

@media (min-width: 600px) {
  .works-slide-container .slide img {
    width: 50%;
  }
}

@media (min-width: 767px) {
  .works-slide-container .slide img {
    width: 70%;
  }
}

@media (min-width: 900px) {
  .works-slide-container .slide img {
    width: 80%;
  }
}

.works-slide-container .slide-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #333333;
  letter-spacing: 0.3rem;
}

.works-slide-container .slide-btn {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #333333;
  letter-spacing: 0.3rem;
  background-color: #00ff99;
  display: block;
  margin: 0 auto;
  padding: 0.3em 1em;
  border-radius: 50px;
  z-index: 10;
  width: 50%;
}

@media (min-width: 767px) {
  .works-slide-container .slide-btn {
    width: 30%;
  }
}

@media (min-width: 900px) {
  .works-slide-container .slide-btn {
    width: 50%;
  }
}

/* !!!SECTION ABOUT!!! */
.about {
  background-color: #424242;
  color: #f2f2f2;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 4em 2em;
}

@media (min-width: 767px) {
  .about {
    padding: 4em 4em 6em;
  }
}

@media (min-width: 900px) {
  .about {
    padding: 10em 4em 16em;
  }
}

.about h3.title {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  isolation: isolate;
  color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

@media (min-width: 767px) {
  .about h3.title {
    font-size: 8rem;
    margin-bottom: 2em;
  }
}

.about h3.title::before {
  content: "About";
  -webkit-transform: scale(3);
          transform: scale(3);
  font-weight: 700;
  font-size: 5rem;
  position: absolute;
  color: rgba(242, 242, 242, 0.03);
  padding-top: 4rem;
  z-index: -1;
}

@media (min-width: 767px) {
  .about h3.title::before {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

.about .about-content {
  margin-top: 40px;
  position: relative;
}

@media (min-width: 767px) {
  .about .about-content {
    margin-top: 100px;
  }
}

@media (min-width: 900px) {
  .about .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about .about-content .left {
  width: 100%;
}

@media (min-width: 900px) {
  .about .about-content .left {
    width: 50%;
  }
}

.about .about-content .left p {
  font-size: 1.6rem;
}

.about .about-content .center {
  display: none;
}

@media (min-width: 900px) {
  .about .about-content .center {
    display: unset;
    width: 50%;
    margin: 10em 2em auto 0;
    -webkit-transform: rotate(339deg);
            transform: rotate(339deg);
  }
}

.about .about-content .right {
  display: none;
}

@media (min-width: 900px) {
  .about .about-content .right {
    display: unset;
  }
  .about .about-content .right .blend-effect::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    mix-blend-mode: saturation;
    width: inherit;
    height: inherit;
  }
  .about .about-content .right img {
    border-radius: 5px;
  }
}

/* !!!SECTION CONTACT!!! */
.contact {
  background-color: #d2d2d2;
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 4em 2em;
}

@media (min-width: 767px) {
  .contact {
    padding: 4em 4em;
  }
}

@media (min-width: 900px) {
  .contact {
    padding: 10em 4em 10em;
  }
}

.contact h3.title {
  font-size: 6rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 2em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  isolation: isolate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 767px) {
  .contact h3.title {
    font-size: 8rem;
    margin-bottom: 2em;
  }
}

.contact h3.title::before {
  content: "Contact";
  -webkit-transform: scale(3);
          transform: scale(3);
  font-weight: 700;
  font-size: 5rem;
  position: absolute;
  color: rgba(46, 46, 46, 0.05);
  padding-top: 4rem;
  z-index: -1;
}

@media (min-width: 767px) {
  .contact h3.title::before {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

.contact .contact-form-box {
  display: block;
  width: 100%;
  color: #333333;
  font-size: 2.5rem;
  text-align: center;
  background-color: #424242;
  position: relative;
}

@media (min-width: 900px) {
  .contact .contact-form-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
}

.contact .contact-form-box-left {
  width: 100%;
  padding: 1em 1em;
}

@media (min-width: 767px) {
  .contact .contact-form-box-left {
    padding: 1em 3em;
  }
}

.contact .contact-form-box-left a {
  color: #f2f2f2;
  font-size: 2rem;
}

.contact .contact-form-box-left p {
  color: #f2f2f2;
  text-align: center;
  font-size: 1.6rem;
}

.contact .contact-form-box-left .contact-title {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.contact .contact-form-box-left .subtitle {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 2em;
}

.contact .contact-form-box-left .fa-arrow-right {
  display: none;
}

@media (min-width: 900px) {
  .contact .contact-form-box-left .fa-arrow-right {
    display: unset;
  }
}

@media (min-width: 900px) {
  .contact .contact-form-box-left .fa-arrow-down {
    display: none;
  }
}

.contact .contact-form-box-right {
  padding: 1em 1em;
  width: 100%;
  background-color: #00ff99;
  -webkit-transform: skewX(15deg, 0);
          transform: skewX(15deg, 0);
}

@media (min-width: 900px) {
  .contact .contact-form-box-right {
    -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
  }
}

.contact .contact-form-box-right a {
  color: #333333;
  font-size: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contact .contact-form-box-right a:first-of-type {
  margin-bottom: 2em;
}

.contact .contact-form-box-right a .icon {
  width: 25px;
}

.contact .contact-form-box-right p {
  margin-bottom: 0.3em;
  text-align: center;
  font-size: 1.6rem;
}

.contact .contact-form-box-right .contact-title {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}

/* !!!FOOTER!!! */
footer {
  padding: 10em 2em;
  background-color: #424242;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
}

footer .logo {
  width: 10rem;
  margin: 0 auto;
}

@media (min-width: 900px) {
  footer .logo {
    width: 15rem;
  }
}

footer .footer-links ul {
  margin-top: 4.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  place-content: space-evenly;
  row-gap: 15px;
}

footer .footer-links ul a {
  color: #f2f2f2;
  font-size: 1.6rem;
}

@media (min-width: 767px) {
  footer .footer-links ul a {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  footer .footer-links ul a {
    font-size: 2.5rem;
  }
}

footer .copy {
  font-size: 1rem;
  margin-top: 3.5rem;
  text-align: center;
}

@media (min-width: 767px) {
  footer .copy {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=main.css.map */