/* !!!NAVBAR!!! */
.navbar {
  padding: 40px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: color(primary);

  .logo img {
    width: 40%;
  }

  nav {
    width: 60%;
    margin-left: auto;
    display: grid;

    ul {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 20px;
      place-items: end;

      li a {
        font-size: 1.6rem;
        color: color(white);
        font-family: "Poppins", sans-serif;

        span {
          color: color(tertiary);
        }
      }
    }
  }
}

/* !!!HERO!!! */
.hero {
  padding: 7rem 18px;
  background-color: color(primary);
  color: color(white);
  font-family: "Poppins", sans-serif;
  height: 100vh;

  .hero-title {
    text-align: center;

    h1 {
      font-size: 3.7rem;
      line-height: 87px;
      font-weight: 700;
      margin-bottom: 6rem;
    }

    i {
      color: color(tertiary);
    }

    p {
      font-size: 2rem;
      margin-bottom: 6rem;
    }

    svg {
      width: 45px;
    }
  }

  .hero-social {
    display: none;
  }
}

/* !!!SECTION WORKS!!! */
.works {
  background-color: color(secondary);
  font-family: "Poppins", sans-serif;
  position: relative;
  text-align: center;

  .watermark {
    font-weight: 700;
    font-size: 15rem;
    position: absolute;
    top: -5%;
    left: -20%;
    color: color(darkOpacity);
  }

  h3.title {
    font-size: 5rem;
    font-weight: 700;
    color: color(black);
  }

  .works-cards-container {
    margin: 7rem 0 2rem 0;

    .card-container {
      width: 100%;
      margin-bottom: 5rem;

      img {
        width: 80%;
      }
    }
  }
}

/* !!!SECTION ABOUT!!! */
.about {
  background-color: color(primary);
  color: color(white);
  position: relative;
  font-family: "Poppins", sans-serif;

  .watermark {
    font-weight: 700;
    font-size: 15rem;
    position: absolute;
    top: -25%;
    left: -20%;
    color: color(lightOpacity);
  }

  h3.title {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
  }

  p {
    font-size: 2rem;
    margin-top: 7rem;
  }

  .right {
    display: none;
  }
}
/* !!!SECTION CONTACT!!! */
.contact {
  background-color: color(secondary);
  font-family: "Poppins", sans-serif;
  position: relative;

  .watermark {
    font-weight: 700;
    font-size: 15rem;
    position: absolute;
    top: -10%;
    left: -20%;
    color: color(darkOpacity);
  }

  h3.title {
    font-size: 5rem;
    font-weight: 700;
    color: color(black);
    margin-bottom: 7rem;
    text-align: center;
  }

  .contact-form {
    width: 100%;

    input,
    textarea,
    button {
      width: 100%;
      font-family: "Poppins", sans-serif;
      background-color: color(primary);
      color: color(white);
      border: none;
      margin-bottom: 3rem;
    }

    input,
    textarea {
      padding: 2rem;
    }

    button {
      background-color: color(tertiary);
      color: color(black);
      font-size: 2rem;
      font-weight: 700;
      height: 5rem;
      border-radius: 4rem;
      cursor: pointer;
    }
  }
}
/* !!!FOOTER!!! */
footer {
  padding: 7rem 0;
  text-align: center;
  background-color: color(primary);
  color: color(white);
  font-family: "Poppins", sans-serif;

  a {
    color: color(white);
    font-size: 2rem;
  }

  .footer-links ul {
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    row-gap: 15px;
  }

  .copy {
    font-size: 1.4rem;
    margin-top: 3.5rem;
  }
}