.how {
  background-color: color(primary);
  &-text {
    p {
      font-weight: 700;
    }
  }

  &-icon {
    @include flexPosition;
    margin-top: 5em;

    img {
      width: 15rem;
      
      @include response(md) {
        width: 15rem;
      }

      @include response(lg) {
        width: 20rem;
      }
    }

    img.how-icon-2 {
      width: 7rem;

      @include response(md) {
        width: 7rem;
      }

      @include response(lg) {
        width: 10rem;
      }
    }
  }
}
