#seeMore {
  background-color: color(primary);

  .see-more {
    padding: 2em 2em;

    @include response(md) {
      padding: 2em 4em;
    }

    @include response(xxl) {
      padding: 2em 0em;
    }

    h1.title {
      font-size: size(xxl);
      font-weight: 700;
      color: color(whitef2);
      font-family: font(title);
      margin-bottom: 0.5em;
      text-transform: uppercase;
    }

    h3.title {
      font-size: size(lg);
      font-weight: 700;
      color: color(whitef2);
      font-family: font(title);
      margin-bottom: 0.5em;
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        height: 2px;
        width: 100%;
        background-color: color(tertiary);
        position: absolute;
        bottom: -2px;
        left: 0;
      }
    }

    .paragraph {
      font-size: 1.8rem;
      font-family: font(paragraph);
      font-weight: 400;
      color: color(whitef2);
      max-width: 80ch;
    }

    .last-p {
      margin-bottom: 2em;
    }

    ul {
      list-style: circle;
      margin: 1em 0 0 1.9em;

      li {
        font-size: 1.8rem;
        font-family: font(paragraph);
        color: color(whitef2);
      }
    }

    .btn-url {
      display: inline-block;
      padding: 0.7em;
      border-radius: 5px;
      margin: 1em 0;
      color: color(whitef2);
      background-color: color(blackOpa80);
      transition: all 300ms ease-in;

      i {
        margin-left: 10px;
      }

      &:hover {
        color: color(black333);
        background-color: color(tertiary);
      }
    }

    a {
      text-decoration: none;
      font-size: size(sm);
      font-family: font(paragraph);
      font-weight: 700;
      color: color(whitef2);
    }
  }
}
