/* !!!NAVBAR!!! */
nav {
  background-color: color(primary);

  .navbar {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1em 2em;

    @include response(md) {
      padding: 1em 4em;
    }

    @include response(xxl) {
      padding: 1em 0em;
    }

    &-logo img {
      width: 50px;
    }

    &-list {
      display: none;

      @include response(lg) {
        display: flex;
        margin-left: auto;

        li a {
          position: relative;
          font-size: size(md);
          font-weight: 900;
          font-family: font(title);
          color: color(whitef2);
          font-family: font(paragraph);
          margin-left: 3em;
          transition: color 200ms ease-in;
          text-transform: uppercase;
          isolation: isolate;

          &::after {
            content: "";
            width: 20px;
            height: 5px;
            border-radius: 2px;
            background-color: color(tertiary);
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: width 700ms ease;
            z-index: -1;
          }

          &:hover::after {
            width: 100%;
            // height: 130%;
            // left: -5%;
          }
        }
      }
    }

    &-responsive {
      position: fixed;
      bottom: 0;
      display: flex;
      width: 100%;
      background-color: color(blackOpa80);
      z-index: 20;
      padding: 1em 2em;

      @include response(md) {
        padding: 1em 4em;
      }

      li + li {
        margin-left: auto;
      }

      li {
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: size(sm);
          color: color(whitef2);
          font-family: font(paragraph);

          i {
            font-size: size(md);
          }
        }
        .span-icon {
          color: color(tertiary);
        }
      }

      @include response(lg) {
        display: none;
      }
    }
  }
}

/* !!!HERO!!! */
header {
  background-color: color(primary);

  .hero {
    padding: 3em 2em;
    color: color(whitef2);
    display: grid;
    place-content: center;
    height: 60vh;

    @include response(md) {
      padding: 3em 4em;
    }

    @include response(lg) {
      display: flex;
      padding: 15em 4em 3em;
      align-items: flex-start;
    }

    @include response(xxl) {
      padding: 15em 0em 3em;
    }

    .hero-title {
      text-align: center;
      display: grid;
      place-content: center;

      @include response(lg) {
        text-align: left;
      }

      h1 {
        font-size: size(xl);
        line-height: 57px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        font-family: font(title);

        @include response(md) {
          font-size: 5rem;
          line-height: 67px;
          letter-spacing: 0.3rem;
        }

        @include response(lg) {
          font-size: 7rem;
          line-height: 87px;
          letter-spacing: 0.3rem;
        }
      }

      p {
        font-size: size(sm);
        font-family: font(paragraph);
        font-weight: 300;
        margin-top: 2em;
        color: color(secondary);

        @include response(md) {
          font-size: size(lg);
        }

        i {
          color: color(tertiary);
        }
      }
    }

    .hero-social {
      display: none;

      @include response(lg) {
        display: grid;
        margin-left: auto;

        li {
          margin-top: 2.5em;

          a {
            font-size: 4rem;
            color: color(whitef2);
            transition: color 200ms ease-in;
            position: relative;

            &:hover {
              color: color(tertiary);
            }

            p {
              font-family: font(paragraph);
              font-size: size(md);
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              visibility: hidden;
              opacity: 0;
              color: color(whitef2);
              transition: visibility 200ms ease-in, opacity 200ms ease-in, left 200ms ease-in;
            }
          }
        }
      }
    }
  }

  .svg-container {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @include response(lg) {
      padding: 3em 4em;
    }

    @include response(xxl) {
      padding: 3em 0em;
    }

    .svg-text {
      color: color(secondary);
      font-family: font(title);
      font-size: size(sm);
      margin-right: 1em;

      @include response(md) {
        font-size: size(md);
      }

      @include response(lg) {
        font-size: size(xl);
      }
    }

    .svg-box {
      //   width: fit-content;
      //   margin: 0 auto;

      //   @include response(lg) {
      //   margin: 0;
      //   padding: 3em 4em;
      // }

      // @include response(xxl) {
      //   margin: 0;
      //   padding: 3em 0em;
      // }

      .svg {
        border: 5px color(tertiary) solid;
        width: 35px;
        height: 60px;
        border-radius: 10px;
        display: grid;
        align-items: center;
        justify-content: center;

        .square {
          width: 5px;
          height: 5px;
          background-color: color(whitef2);
          margin: 0 auto;

          &:first-child {
            margin-top: 7px;
          }
        }

        .arrow {
          i {
            color: color(whitef2);
            font-size: size(md);
            margin-top: -5px;
          }
        }
      }
    }
  }
}

/* !!!SECTION WORKS!!! */
.works {
  background-color: color(secondary);
  font-family: font(paragraph);
  position: relative;
  text-align: center;
  padding: 4em 2em 8em;

  @include response(md) {
    padding: 4em 4em 8em;
  }

  @include response(lg) {
    padding: 10em 4em 16em;
  }

  // .container {
  //   @include response(xxxl) {
  //     &::before,
  //     &::after {
  //       content: "";
  //       background-color: color(secondary);
  //       width: calc((100vw - 1366px) / 2);
  //       position: absolute;
  //       inset: 0;
  //       z-index: 10;
  //     }

  //     &::after {
  //       margin-left: auto;
  //     }
  //   }
  // }

  h3.title {
    font-size: 6rem;
    font-weight: 700;
    color: color(black333);
    font-family: font(title);
    isolation: isolate;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    @include response(md) {
      font-size: 8rem;
      margin-bottom: 2em;
    }

    &::before {
      content: "Works";
      transform: scale(3);
      font-weight: 700;
      font-size: 3rem;
      position: absolute;
      color: color(darkOpacity);
      padding-top: 4rem;
      z-index: -1;

      @include response(md) {
        transform: scale(4);
      }
    }
  }

  .works-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2em;

    @include response(sm) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    &-object {
      cursor: pointer;
      width: 100%;

      .top-bar {
        background-color: color(blackOpa80);
        width: 100%;
        border-radius: 5px 5px 0 0;

        h5.title {
          font-size: 2rem;
          color: color(whitef2);
          text-transform: uppercase;
        }
      }

      .main-content {
        position: relative;

        &::after {
          content: "";
          inset: 0;
          background-color: color(blackOpa80);
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 0 0 5px 5px;
          height: 0;
          transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: 200ms;
        }

        &::before {
          content: "more...";
          position: absolute;
          bottom: 5%;
          left: 50%;
          transform: translate(-50%) scale(0);
          background-color: color(primary);
          color: color(whitef2);
          font-weight: 700;
          padding: 0.3em 0.5em;
          border-radius: 5px;
          font-size: size(sm);
          box-shadow: 2px 2px 0px 0px color(blackOpa80);
          z-index: 1;
          transition: all 200ms cubic-bezier(0, 0, 1, -0.2);
          transition-delay: 0ms;
        }

        img {
          width: 100%;
          display: block;
          border-radius: 0 0 5px 5px;
        }

        .tags {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          grid-gap: 1em;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 80%;
          transform: translate(-50%, -50%);
          z-index: 1;

          .tag {
            background-color: color(primary);
            color: color(whitef2);
            font-weight: 700;
            padding: 0.5em;
            border-radius: 5px;
            font-size: size(sm);
            box-shadow: 2px 2px 0px 0px color(blackOpa80);
            transform: scale(0);
            transition: all 200ms cubic-bezier(0, 0, 1, -0.2);
            transition-delay: 0ms;
          }
        }
      }
      &:hover .main-content::after {
        height: 100%;
      }
      &:hover .main-content::before {
        transform: translate(-50%) scale(1);
        transition-delay: 700ms;
      }
      &:hover .tags .tag {
        transform: scale(1);
        transition-delay: 400ms;
      }
    }
  }
}

/* !!!SECTION ABOUT!!! */
.about {
  background-color: color(primary);
  color: color(whitef2);
  position: relative;
  font-family: font(paragraph);
  padding: 4em 2em;

  @include response(md) {
    padding: 4em 4em 6em;
  }

  @include response(lg) {
    padding: 10em 4em 16em;
  }

  h3.title {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    font-family: font(title);
    isolation: isolate;
    color: color(whitef2);
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    @include response(md) {
      font-size: 8rem;
      margin-bottom: 2em;
    }

    &::before {
      content: "About";
      transform: scale(3);
      font-weight: 700;
      font-size: 3rem;
      position: absolute;
      color: color(lightOpacity);
      padding-top: 4rem;
      z-index: -1;

      @include response(md) {
        transform: scale(4);
      }
    }
  }

  .about-content {
    margin-top: 40px;
    position: relative;

    @include response(md) {
      margin-top: 100px;
    }

    @include response(lg) {
      display: flex;
    }

    .left {
      width: 100%;

      @include response(lg) {
        width: 50%;
      }

      p {
        font-size: size(sm);
      }
    }

    .center {
      display: none;

      @include response(lg) {
        display: unset;
        // margin-left: 50em;
        width: 50%;
        margin: 10em 2em auto 0;
        transform: rotate(339deg);
      }
    }

    .right {
      display: none;

      @include response(lg) {
        display: unset;
        // margin-left: 50em;
        // width: 50%;

        .blend-effect::before {
          content: "";
          position: absolute;
          inset: 0;
          background-color: rgb(0, 0, 0);
          mix-blend-mode: saturation;
          width: inherit;
          height: inherit;
        }

        img {
          border-radius: 5px;
          // width: 100%;
          // height: 100%;
        }
      }
    }
  }
}
/* !!!SECTION CONTACT!!! */
.contact {
  background-color: color(secondary);
  font-family: font(paragraph);
  position: relative;
  padding: 4em 2em;

  @include response(md) {
    padding: 4em 4em;
  }

  @include response(lg) {
    padding: 10em 4em 10em;
  }

  h3.title {
    font-size: 6rem;
    font-weight: 700;
    color: color(black333);
    margin-bottom: 2em;
    text-align: center;
    font-family: font(title);
    isolation: isolate;
    display: flex;
    justify-content: center;

    @include response(md) {
      font-size: 8rem;
      margin-bottom: 2em;
    }

    &::before {
      content: "Contact";
      transform: scale(3);
      font-weight: 700;
      font-size: 3rem;
      position: absolute;
      color: color(darkOpacity);
      padding-top: 4rem;
      z-index: -1;

      @include response(md) {
        transform: scale(4);
      }
    }
  }

  .contact-form {
    &-box {
      display: block;
      width: 100%;
      color: color(black333);
      font-size: size(lg);
      text-align: center;
      background-color: color(primary);
      position: relative;
      border-radius: 5px;

      @include response(lg) {
        display: flex;
        width: 80%;
        margin: 0 auto;
      }

      &-left {
        width: 100%;
        padding: 1em 1em;

        @include response(md) {
          padding: 1em 3em;
          width: 90%;
        }

        a {
          color: color(whitef2);
          font-size: size(md);
        }

        p {
          color: color(whitef2);
          text-align: center;
          font-size: size(sm);
        }

        .contact-title {
          font-size: size(xl);
          font-weight: 700;
          font-family: font(title);
          margin-bottom: 1em;
          text-transform: uppercase;
        }

        .subtitle {
          font-weight: 700;
          font-size: size(md);
          text-transform: uppercase;
          margin-top: 2em;
        }

        .fa-arrow-right {
          display: none;

          @include response(lg) {
            display: unset;
          }
        }

        .fa-arrow-down {
          @include response(lg) {
            display: none;
          }
        }
      }

      &-right {
        padding: 1em 1em;
        width: 100%;
        background-color: color(tertiary);
        transform: skewX(15deg, 0);
        border-radius: 0 0 5px 5px;

        @include response(lg) {
          clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
          border-radius: 0 5px 5px 0;
        }

        a {
          color: color(black333);
          font-size: size(md);
          display: inline-flex;

          &:first-of-type {
            margin-bottom: 2em;
          }

          .icon {
            width: 25px;
          }
        }

        p {
          margin-bottom: 0.3em;
          text-align: center;
          font-size: size(sm);
        }

        .contact-title {
          font-size: size(xl);
          font-weight: 700;
          font-family: font(title);
          margin-bottom: 0.3em;
          text-transform: uppercase;
        }
      }
    }
  }
}
/* !!!FOOTER!!! */
footer {
  padding: 10em 2em;

  background-color: color(primary);
  color: color(whitef2);
  font-family: font(paragraph);

  .logo {
    width: 10rem;
    margin: 0 auto;

    @include response(lg) {
      width: 15rem;
    }
  }

  .footer-links ul {
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: auto auto;
    place-content: space-evenly;
    row-gap: 15px;

    a {
      color: color(whitef2);
      font-size: size(sm);

      @include response(md) {
        font-size: size(md);
      }

      @include response(lg) {
        font-size: size(lg);
      }
    }
  }

  .copy {
    font-size: size(xs);
    margin-top: 3.5rem;
    text-align: center;

    @include response(md) {
      font-size: size(sm);
    }
  }
}
