/* !!!NAVBAR!!! */
nav {
  background-color: color(primary);

  .navbar {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1em 2em;

    &-logo img {
      width: 50px;
    }

    &-title {
      margin-left: auto;
      color: color(tertiary);
      font-family: font(title);
      font-weight: 900;
      font-size: size(sm);
    }

    &-list {
      display: none;

      li a {
        font-size: size(sm);
        color: color(white);
        font-family: font(paragraph);

        span {
          color: color(tertiary);
        }
      }
    }

    &-responsive {
      position: fixed;
      bottom: 0;
      display: flex;
      width: 100%;
      background-color: color(blackOpa80);
      z-index: 20;
      padding: 1em 2em;

      li + li {
        margin-left: auto;
      }

      li {
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: size(sm);
          color: color(white);
          font-family: font(paragraph);

          i {
            font-size: size(md);
          }
        }
        .span-icon {
          color: color(tertiary);
        }
      }

      @include response(lg) {
        display: none;
      }
    }
  }
}

/* !!!HERO!!! */
header {
  background-color: color(primary);

  .hero {
    padding: 3em 2em;
    color: color(white);
    font-family: font(title);
    height: 90vh;

    .hero-title {
      text-align: center;

      h1 {
        font-size: size(xl);
        line-height: 87px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
      }

      p {
        font-size: size(sm);
        font-family: font(paragraph);
        font-weight: 300;
        margin-bottom: 6em;

        i {
          color: color(tertiary);
        }
      }

      .svg {
        border: 5px color(tertiary) solid;
        width: 35px;
        height: 60px;
        border-radius: 10px;
        position: relative;
        margin: 0 auto;
        opacity: 0;
        transition: opacity 200ms ease-in;

        .square-1 {
          width: 5px;
          height: 5px;
          background-color: color(white);
          position: absolute;
          top: 15%;
          left: 50%;
          transform: translate(-50%);
          opacity: 0;
          transition: opacity 500ms ease-in;
        }

        .square-2 {
          width: 5px;
          height: 5px;
          background-color: color(white);
          position: absolute;
          top: 37%;
          left: 50%;
          transform: translate(-50%);
          opacity: 0;
          transition: opacity 500ms ease-in;
        }

        .arrow {
          border: solid color(white);
          border-width: 0 5px 5px 0;
          padding: 5px;
          transform: rotate(45deg);
          position: absolute;
          top: 0%;
          left: 20%;
          opacity: 0;
          transition: all 500ms ease-in;
        }

        .svg-square-animation {
          opacity: 1;
        }

        .svg-arrow-animation {
          top: 50%;
          opacity: 1;
        }
      }
    }

    .hero-social {
      display: none;
    }
  }
}

/* !!!SECTION WORKS!!! */
.works {
  background-color: color(secondary);
  font-family: font(paragraph);
  position: relative;
  text-align: center;
  padding: 4em 2em;
  

  h3.title {
    font-size: 6rem;
    font-weight: 700;
    color: color(black);
    font-family: font(title);
    isolation: isolate;

    &::before {
      content: "Works";
      transform: scale(3);
      font-weight: 700;
      font-size: 5rem;
      position: absolute;
      color: color(darkOpacity);
      padding-bottom: 8rem;
      z-index: -1;
    }
  }

  &-slide-container {
    .slide {
      margin-top: 3em;
      width: 100%;

      img {
        width: 80%;
        margin-block: 1em;
      }

      &-title {
        font-family: font(title);
        font-size: size(lg);
        font-weight: 700;
        color: color(black);
        letter-spacing: .3rem;
 
      }

      &-btn {
        font-family: font(paragraph);
        font-size: size(sm);
        color: color(black);
        letter-spacing: .3rem;
        background-color: color(tertiary);
        width: fit-content;
        margin: 0 auto;
        padding: .3em 1em;
        border-radius: 50px;
      }
    }
  }
}


/* !!!SECTION ABOUT!!! */
.about {
  background-color: color(primary);
  color: color(white);
  position: relative;
  font-family: font(paragraph);
  padding: 4em 2em;

  h3.title {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    font-family: font(title);
    isolation: isolate;
    color: color(white);

    &::before {
      content: "About";
      transform: scale(3);
      font-weight: 700;
      font-size: 5rem;
      position: absolute;
      color: color(lightOpacity);
      padding-bottom: 8rem;
      z-index: -1;
    }
  }

  .about-content {
    margin-top: 40px;
    position: relative;

    .left p {
      font-size: size(sm);
    }

    .right {
      display: none;
      // position: absolute;
      // top: 0;
      // z-index: -1;

      // &::before {
      //   content: '';
      //   position: absolute;
      //   inset: 0;
      //   background-color: rgb(0, 0, 0);
      //   mix-blend-mode: saturation;
      // }

      //   img {
      //     width: 100%;
      //     height: 100%;
      //   }
      // }
    }
  }
}
/* !!!SECTION CONTACT!!! */
.contact {
  background-color: color(secondary);
  font-family: font(paragraph);
  position: relative;
  padding: 4em 2em;

  h3.title {
    font-size: 6rem;
    font-weight: 700;
    color: color(black);
    margin-bottom: 1em;
    text-align: center;
    font-family: font(title);
    isolation: isolate;

    &::before {
      content: "Contact";
      transform: scale(3);
      font-weight: 700;
      font-size: 5rem;
      position: absolute;
      color: color(darkOpacity);
      padding-bottom: 8rem;
      z-index: -1;
    }
  }

  .contact-form {
    width: 100%;
    position: relative;
    
    input,
    textarea,
    button {
      width: 100%;
      font-family: font(paragraph);
      background-color: color(primary);
      color: color(white);
      border: none;
      margin-bottom: 3rem;
    }

    input,
    textarea {
      padding: 2rem;
    }

    textarea {
      resize: vertical;
    }

    .recaptcha {
      margin-bottom: 3rem;
    }

    button {
      background-color: color(tertiary);
      color: color(black);
      font-size: 2rem;
      font-weight: 700;
      height: 5rem;
      border-radius: 4rem;
      cursor: pointer;
    }
  }
}
/* !!!FOOTER!!! */
footer {
  padding: 4em 2em 7em 2em;

  background-color: color(primary);
  color: color(white);
  font-family: font(paragraph);

  .footer-links ul {
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: auto auto;
    place-content: space-evenly;
    row-gap: 15px;

    a {
      color: color(white);
      font-size: size(sm);
    }
  }

  .copy {
    font-size: size(xs);
    margin-top: 3.5rem;
    text-align: center;
  }
}
