.about-cards {
  display: grid;
  grid-gap: 1rem;

  &-card {
    border: 2px color(secondary) solid;
    border-radius: 5px;
    position: relative;
    transition: 0.4s;
    z-index: 10;
    background-color: color(primary);

    &-title {
      border-bottom: 2px color(secondary) solid;
      padding: 1rem;
      font-size: size(md);
      font-family: font(title);
      transition: color 0.2s ease-out;
      cursor: pointer;
    }

    &-container {
      overflow: hidden;
      // transition: all 0.2s ease-out;

      &-paragraph {
        padding: 1rem;
        font-family: font(paragraph);
      }
    }

    .overflow-card {
      overflow: auto;
    }
  }
}

.open .about-cards-card-title {
  color: color(tertiary);
}

.close .about-cards-card-container {
  opacity: 0;
  max-height: 0;
  // transform: scaleY(0);
  transition: all 700ms ease-out;
}

.open .about-cards-card-container {
  // transform: scaleY(1);
  // transform-origin: top;
  // transition: transform .4s ease;
  opacity: 1;
  max-height: 250px;
  transition: all 700ms ease-out;
}
