.modal {
  background-color: color(primary);
  padding: 5rem;
  border-radius: 10px;
  width: 350px;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 250ms ease-in;

  // @include response(xs) {
  //   min-width: 60%;
  // }

  // @include response(sm) {
  //   min-width: 50%;
  // }

  // @include response(md) {
  //   min-width: 40%;
  // }

  // @include response(lg) {
  //   min-width: 35%;
  // }

  &-logo {
    margin-bottom: 2em;

    img {
      width: 5rem;
    }
  }

  &-paragraph {
    font-family: font(paragraph);
    font-size: size(sm);
    margin-bottom: 2em;
    color: color(whitef2);
  }

  &-button {
    font-family: font(paragraph);
    font-size: size(sm);
    background-color: color(tertiary);
    padding: 0.3em;
    border-radius: 5px;
    color: color(black333);
    cursor: pointer;
  }
}

/* modal style inside index.html */
.modal-background {
  position: absolute;
  inset: 0;
  background-color: color(blackOpa80);
  z-index: 99;
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.modal-contact {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-hide {
  opacity: 0;
  z-index: -1;
}