.swiper-button-prev,
.swiper-button-next {
  color: color(black);
  font-weight: 900;
  z-index: 15;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination {
  bottom: -30px !important;

  @include response(md) {
    bottom: 10px !important;
  }

  &-bullet-active {
    background-color: color(black);
  }
}

.swiper {
  @include response(md) {
    display: none;
  }
}

.swiper-desktop {
  display: none;
  @include response(md) {
    display: flex;
    position: relative;

    .swiper-pagination {
      bottom: -30px !important;
    }
  }
}
