.top-arrow {
  display: none;

  @include response(lg) {
    display: block;
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms ease, opacity 300ms ease;

    // @include response(xxxl) {
    //   left: calc((100vw + 1248px) / 2);
    // }

    .outer {
      height: 50px;
      width: 50px;
      background-color: color(tertiary);
      border-radius: 100%;
      cursor: pointer;

      display: grid;
      place-content: center;
      position: relative;

      &-text {
        position: absolute;
        left: -8px;
        top: 0px;
        opacity: 0;
        font-size: size(sm);
        font-family: font(title);
        text-transform: uppercase;
        font-weight: 700;
        color: color(black333);
        width: max-content;
        transition: top 300ms ease-in, opacity 300ms ease-in;
      }

      .inner {
        i {
          font-size: 2rem;
          color: color(black333);
        }
      }
    }
    .outer:hover .outer-text {
      top: -25px;
      opacity: 1;
    }
  }
}

.top-arrow-show {
  opacity: 1;
  visibility: visible;
}
